
.import .page-assistant {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100%;
  background-color: var(--spectrum-global-color-gray-100);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1000;
}

.import .page-assistant.open {
  right: 0;
}

.import #assistant-container {
  padding: 0 var(--spectrum-global-dimension-size-300);
}

.import .import-assistant {
  position: relative;
}

.import .import-assistant > img {
  height: 150px;
  width: calc(100% + calc(2 * var(--spectrum-global-dimension-size-300)));
  object-fit: cover;
  margin: 0 calc(-1 * var(--spectrum-global-dimension-size-300));
}

.import .import-assistant > sp-action-button {
  position: absolute;
  top: var(--spectrum-global-dimension-size-150);
  right: 0;
}

.import .assistant-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: var(--spectrum-global-dimension-size-250);
}
